/* This is where we will be writing all of your styles */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900|Playfair+Display:400,900);

body{
  background-color: #d2a679;
  color: #000000;
}

h1 {
  text-decoration-style: dashed;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-weight: bold;
  font-family: "Playfair+Display", serif;
}

h2 {
  text-transform: lowercase;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  font-family: "Merriweather", serif;

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  li {
    border: 1px solid #ffffff;
    width: 12%;
    height: 200px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align: center;;
    /* display: inline-block; */
